@charset "UTF-8";

*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
background-image: linear-gradient(to right, #f2c879, #f29a2e);
}

main{
background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 10px #f25c05a2;
width: 600px;
padding: 10px;
margin: auto;
}

p{
text-align: justify;
}

h1{
color: #8C4303;
text-align: center;
text-shadow: 1px 12px 2px #f25c055f;
}

h2{
text-align: center;
color: #8c4303d3;
}