@charset "UTF-8";

body{
background-image: linear-gradient(to top, #0fc2bfc6, #0caba8d0);
font-family: Arial, Helvetica, sans-serif;
}

h1{
color: #023535d2;
}


h1#principal{
text-align: center;
color: #0CABA8;
background-color:#023535;
}

.basico{
color: #033502;
}

.intermediario{
color: #303502;

}

.avançado{
color: #350202;
}

.destaque{
background-color: #efff648a;
}